*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}
body{
    font-family: 'Vollkorn', serif;
}

/* conteinnr */
.conteiner-grid{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    'logo logo logo'
    'content content content'
    'footer footer footer';
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-area: logo;
    align-items: center;
    background-color: rgb(241, 243, 243);
    margin-bottom: 30px;
}
.nav-header{
    grid-column: 3/3;
}
.logo{
    margin:0 0 0 15px;
    font-weight: 700;
    font-size: 3em;
}
.ul-list{
    display: flex;
}
.ul-list li, a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1.1em;
}
.ul-list li+li{
    margin-left: 30px;
}
.content{
  font-style: oblique;
  background-color: rgb(241, 243, 243);
  grid-column:content ;
  display:grid;
  max-width: 900px;
  margin: 0 auto;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
}
.titulo{
    margin:  0 auto;
    grid-column: 1/-1;
}

.artigo-1{
    grid-column: 1/1;
}
.artigo-2{
    grid-column: 2/3;
}

.artigo-3{
    grid-column: 1/-1;
}

footer{
    font-size: .725em;
    background-color: rgb(241, 243, 243);
    margin-top: 30px;
    padding: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: footer;
    grid-gap: 30px;
}

.ul-footer li, a{
    list-style: none;
    
}